
.detail-left h1 {
  font-size: 2.5rem;
}

.btn-retour {
  background-color: #ff8c42; 
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: 0.3s ease;
}

.detail-left p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Lightbox plein écran */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

.lightbox-img {
  width: 60vw;   
  height: auto; 
  max-height: 95vh; 
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
  object-fit: contain;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.main-content {
  min-height: 73vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}




