.navbar-sushi {
  background-color: #1f1e1e;
  padding: 15px 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
}

.navbar-logo {
  color: #ff8c42;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-logo:hover {
  color: #ffa766;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: #ff8c42;
  color: black;
}

.nav-item.active {
  background-color: #ff8c42;
  color: black;
}
